version: "3"
services:
  app:
    build: .
    image: olaxe/docker-booked
    ports:
      - 80
    volumes:
      - ./uploads:/var/www/booked/uploads
      - ./Web/uploads:/var/www/booked/Web/uploads
      - ./Web/img:/var/www/booked/Web/img
    depends_on:
      - mysql

  mysql:
    image: mysql:5.7
    volumes:
      - data:/var/lib/mysql
    env_file: mysql.env

volumes:
  data:
